<!DOCTYPE html>

<html>
    <style>
        input[type=submit] {
        width: 20%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        }

        input[type=submit]:hover {
        background-color: #45a049;
        }
    </style>

    <body>
        <h1>Error Message:</h1>
        <h3>{{error_message}}</h3>
        <div>
            <form action="/", method="POST">    
              <input type="submit" value="Go Back">
            </form>
        </div>
    </body>
</html>