<!DOCTYPE html>

<html>
    <body>
        <body>
            <h3>Profit Report: </h3>
            <table>
                    <tr>
                       <th> S1: </th>
                       <td> {{ strategy1 }}  </td>
                    </tr>
                    <tr>
                       <th> S2: </th>
                       <td> {{ strategy2 }}  </td>
                    </tr>
                    <tr>
                        <th> Value: </th>
                        <td> {{ value }}  </td>
                    </tr>

              </table>
    </body>
</html>