<!DOCTYPE html>

<html>
    <body>
        <h3>Profit Report: </h3>
        <table>
            <tr>
                <th> S1: </th>
                <td> {{ strategy1 }}  </td>
            </tr>
            <tr>
                <th> S2: </th>
                <td> {{ strategy2 }}  </td>
            </tr>
            <tr>
                <th> Value: </th>
                <td> {{ value }}  </td>
            </tr>
        </table>
        {{ stocksTable | safe }}
        <img src="data:image/png;base64, {{imagen1.imagen1}}">
        <img src="data:image/png;base64, {{imagen2.imagen2}}">
    </body>
</html>
